body {
	color: white;
	background-color: #514154;
	font-family: 'Josefin Sans', sans-serif;
}
h1	{
	font-family: 'Julius Sans One', sans-serif;
}
h2	{
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
}
h3	{
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
}

#container {
	position: absolute;
	max-width: 800px;
	left: 200px;
	right: 200px;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color: mediumseagreen;
	border-right: double 5px darkorange;
	border-left: double 5px darkorange;
}
#logo {
	position: relative;
	width: 169px;
	height: 72px;
	margin: auto;
	top: 28px;
}
#sideContent {
	position: relative;
	left: 50px;
	width: 100px;
	top: 250px;
}
#name {
	position: relative;
	top: 35px;
	text-align: center;
	border-bottom: solid gray;
	margin: 0 35px 15px 35px;
}
a {
	text-decoration: none;
	color: darkslategrey;
}
a:hover {
	font-size: 1.1em;
	color: #e9b312;
}
.link {
	color: blanchedalmond;
	border-bottom: 2px solid gray;
}
#link1:hover {
	color:	#8fc701;
}
#link2:hover {
	color: #5c9cbf;
}
#link3:hover {
	color: #e9b312;
}

.centeredText{
	position: relative;
	top: 30px;
	width: 80%;
	margin: auto;
	line-height: 1.4em;
	font-size: 1.3em;
	font-family: 'Josefin Sans', sans-serif;
}
#text1 {
	text-align: justify;
	padding-top: 10px;
	font-size: 1.4em;
}
#text2 {
	padding-bottom: 50px;
}
#text3 {
	line-height: .7em;
}
#footer {
	position: absolute;
	text-align: center;
	right: 10px;
	left: 10px;
	bottom: 5px;
	font-size: .8em;
}
#footer p {
	margin: 1em auto;
}


